<section class="company">
    <h2 class="company-title">Why choose our company</h2>
    <div class="container company-box">
        <div class="company-block">
            <img src="../img/Frame.svg" width="70" height="70" alt="speed" />
            <h3 class="company-subtitle">Speed</h3>
            <p class="company-text">
                Thanks to GPON and a backup line, we guarantee the speed right under the
                contract
            </p>
        </div>

        <div class="company-block">
            <img src="../img/Frame.svg" width="70" height="70" alt="speed" />
            <h3 class="company-subtitle">Speed</h3>
            <p class="company-text">
                Thanks to GPON and a backup line, we guarantee the speed right under the
                contract
            </p>
        </div>

        <div class="company-block">
            <img src="../img/Frame.svg" width="70" height="70" alt="speed" />
            <h3 class="company-subtitle">Speed</h3>
            <p class="company-text">
                Thanks to GPON and a backup line, we guarantee the speed right under the
                contract
            </p>
        </div>
    </div>