<section class="hero">
    <div class="container hero-container">
        <div class="hero-box">
            <h1 class="hero-title">Reliable Home Internet and TV Provider</h1>
            <p class="hero-subtitle">We work only in small towns. Thanks to this,
                we maintain quality and we will not spray</p>
            <button type="button" class="hero-btn">Submit your application</button>
        </div>
        <img src="./img/hero-img.svg" width="572" height="560" alt="hero-img">
    </div>
</section>